<ferret xmlns="uri:fulcrum.net:schemas:ferret">


    <data>
        <jndiLookup name="data"/>
        <jdbc driver="asdf" jdbcUrl="asdf"/>
    </data>

    <ui>
        <ui id="1"/>
    </ui>

    <route>
        <notFound/>
        <controller path="/locations"
                    id="locations"
                    ui="locations"
                    query="LOCATIONS">
            <show by="LOCATIONID">

            </show>
            <list/>
        </controller>
    </route>
</ferret>
